<html>
<head>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>

</head>
<body>
<div style='font-size: 24px; font-weight: initial; font-style: italic;'>Моментальный <b> <span id="a_span" style></span> </b></div>
<span id="container1" class="item-graph"><canvas id="c1"></canvas></span><br>
    <div style='font-size: 24px; font-weight: initial; font-style: italic;'>Усредненный <b><span id="b_span" style></span> </b></div>
<span id="container2" class="item-graph"><canvas id="c2"></canvas></span>
</body>
</html>